/*ofrmulario de validacion*/
.centro{
    align-content: center;
    align-items: center;
}
.img{
    background-image: url(../img/35285.jpg);
}
/*footer*/
.container-footer{
    width: 100%;
    padding: 40px 0;
    background: rgb(0, 0, 0);
    margin-top: 40px;
}
.container-footer footer{
    max-width: 120px;
    margin: auto;
}
.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}
footer .redes-footer .fa-google:hover{
    background: linear-gradient(to top left, #5CB8E4,#42855B,#EAE509,#FF1E00 );
    color: #fff;
}
footer .redes-footer .fa-instagram:hover{
    background:linear-gradient(to top right, #FCDE30,#E9712A,#D2313B,#AE4198,#7540A1,#5443AB);
    color: #fff;
}
.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c7c5cf;
}
.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: rgb(163, 180, 173);
    font-weight: 500px;
}